<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>

<table border="1">
    <tr>
        {% for field in animal_field%}
            <th>{{field.name}}</th>
        {% endfor%}
    </tr>
    {% for ani in animal_list%}
    <div style="overflow-x:auto;"></div>
    <tr>
        {% for attr in ani%}
            {% if forloop.counter0 == 1 %}
                <td><a href="{% url 'animal:show_table_descrip' qst.0 %}">{{attr}}</a></td>
            {% else %}
                <td>{{attr}}</td>
            {% endif %}
        {% endfor%}
    </tr>
    </div>
    {% endfor%}

</table>

</body>
